page-login {
    .toolbar-title-md {
        color: #ffffff;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff;
      
    }
    .toolbar-background-md {
        border-color: #3688a1;
        background: #3688a1;
    }
    .content-md {
        color: #3688a1;
     
    }
    .card-md p {
      
        color: #fdd438;
    }
    
    .button-md-secondary {
       
        background-color: #3688a1;
    }
    .button-md {
       
        color: #fff;
        background-color: #3688a1;
        text-transform: lowercase;
     }
}
