page-sulaimaniyah {
    .toolbar-background-md {
        
        background: #3688a1;
    }
    .toolbar-title-md {
        
        color: #ffffff;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff;
      
    }
    ion-icon {
        
        padding-left: 5px;
    }
   
    .icon-md-danger {
        color: #3688a1;
    }
    .icon-md-primary {
        color: gold;
    }
}
