page-duhokrestaurant {
    .toolbar-background-md {
        border-color: #3688a1;
        background: #3688a1;
    }
    .back-button-icon-ios {
      
        color: blue;
    }
    .toolbar-title-md {
       
        color: #fff;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #fff;
        
    }
    
    .card-md p {
      
        color: #fdd438;
    }
    .content-md {
        color: #3688a1;
       
    }
}
